*{
	padding:0;
	margin:0;
	border-size:border-box;
}

header{
	width: 100%;
	height: auto;
	background-color: black;
	/*background-image:url('../css/menu1.png'); Colocar imagem de cada pagina :D*/
}

header nav{

}

header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

header nav ul a{
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
}

header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 2.0em;
	color: white;
	text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border: 2.5px solid blue;
}

header nav ul a li:hover{         
	background-color: #00f9ff;
	color: white;
}