*{
	padding:0;
	margin:0;
	border-size:border-box;
}

body{
	background-image: url('../css/background-cards.png');
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

body img{
	width: 100%;
	height: 100%;
}

header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 2.5px outset white;
}

header nav{
	background-color: black !important;
}

header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

header nav ul a{
	text-decoration: none;
}

header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 40px;
	color: white;
	text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border: 2.5px solid blue;
}

header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2.5px solid #00f500;
	color: white;
}

section{
	width: 100%;
	height: 100%;
}

section h2{
	color: white;
	font-size: 9vw;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -20%;
	margin-left: 40px;
}

section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -4px 0 purple, 0 4px purple, 4px 0 purple, 0 -4px purple;
	text-align: right;
	margin-top: -19%;
	margin-right: 40px;
}

section p{
	background-color: rgb(0,0,0);
	padding-top: 25px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 23px;
	color: white;
}

.biography{
	display: block;
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
}

.biography h2{
	color: white;
	font-size: 170px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -14%;
}

.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-size: 25px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}

.seto_kaiba_img{
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
}

.title h2{
	color: black;
	font-size: 120px;
	text-shadow: -4px 0 orange, 0 4px orange, 4px 0 orange, 0 -4px orange;
}

.title h3{
	color: blue;
	font-size: 120px;
	text-shadow: -4px 0 #07f7f7, 0 4px #07f7f7, 4px 0 #07f7f7, 0 -4px #07f7f7;
}

.joey_img{
	background-repeat: no-repeat;
	width:100%;
	height: 100%;
}

.joey_img h3{
	text-align:right;
	color: #d1851f;
	font-size: 8vw;
	text-shadow: -4px 0 #f7ce97, 0 4px #f7ce97, 4px 0 #f7ce97, 0 -4px #f7ce97;
}

.all_cards{
	background-color: black;
	background-image: url('../css/background-bottom.jpg');
	background-size: cover;
}

#mode{
	text-align: center;
}

#kaiba{
	text-align: center;
}

#joey{
	text-align: center;
}

#background-home{
	background-image: url('../css/background-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	text-align: center;
}

nav button{
	background-color:#7633d4;
}

nav button:hover{
	background-color:#c3fc8d;
}

nav span{
	color: white;
	font-size: 30px;
	border: 3px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav span:hover{
	color: white;
	border: 3px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.all_cards img{
	width: auto;
	height: auto;
}

.all_cards h2{
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: -2.3px 0 red, 0 2.3px red, 2.3px 0 red, 0 -2.3px red;
}

nav h2{
	font-size: 60px;
	color: white;
	text-shadow: -3px 0 purple, 0 3px purple, 4.2px 0 red, 0 -4.2px red;
}


/*====MODO LEITURA STYLE=====*/


.modoLeitura{
	background-color: black;
}

.modoLeitura img{
	width: 0px;
	height: 0px;
}

.modoLeitura nav h4{
	font-size: 1.6vw;
	color: white;
}

.modoLeitura nav button{
	background-color:#7633d4;
}

.modoLeitura nav button:hover{
	background-color:#c3fc8d;
}

.modoLeitura nav span{
	color: white;
	font-size: 20px;
	border: 2px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.modoLeitura nav span:hover{
	color: white;
	border: 2px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.modoLeitura h2{
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: -2.3px 0 red, 0 2.3px red, 2.3px 0 red, 0 -2.3px red;
}


/*====MODO LEITURA STYLE=====*/


.hide{
	display: none;
	visibility: hidden;
}

footer{
	margin-top: 3.4%;
	text-align: center;
}

footer p{
	background-color: rgba(255,255,255,0.6);
	border-top: 4px solid white;
	font-size: 25px;
	color: white;
	text-shadow: -1.25px 0 black, 0 1.25px black, 1.25px 0 black, 0 -1.25px black;

}


/*====MEDIAS QUERIES INICIO=====*/
@media(max-width:1750px){
	.biography h2{
	color: white;
	font-size: 150px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -20%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center;
	font-size: 25px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
}

@media(max-width:1528px){
	.biography h2{
	color: white;
	font-size: 150px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -20%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center;
	font-size: 25px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	.all_cards img{
	width: 160px;
	height: auto;
}
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 4px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 35px;
	color: white;
	text-shadow: -2.5px 0 blue, 0 2.5px blue, 2.5px 0 blue, 0 -2.5px blue;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border: 2.5px solid blue;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2.5px solid #00f500;
	color: white;
}
}

@media(max-width:1450px){
	.biography h2{
	color: white;
	font-size: 125px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -20%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	font-size: 24px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	.all_cards img{
	width: 140px;
	height: auto;
}
}

@media(max-width:1330px){
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 3.2px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 30px;
	color: white;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	margin-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border: 2.5px solid blue;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2.5px solid #00f500;
	color: white;
}
}

@media(max-width:1200px){
	.biography h2{
	color: white;
	font-size: 100px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -21%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	font-size: 22px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	nav span{
	color: white;
	font-size: 26px;
	border: 3px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

	nav span:hover{
	color: white;
	border: 3px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	.all_cards img{
	width: 105px;
	height: auto;
}
	section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -3px 0 purple, 0 3px purple, 3px 0 purple, 0 -3px purple;
	text-align: right;
	margin-top: -19%;
	margin-right: 40px;
}

	section p{
	background-color: rgb(0,0,0);
	padding-top: 25px;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center;
	font-size: 21px;
	color: white;
}
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 3px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 24px;
	color: white;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	margin-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border: 2px solid blue;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2px solid #00f500;
	color: white;
}
}

@media(max-width:950px){
	.biography h2{
	color: white;
	font-size: 80px;
	text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue;
	text-align: left;
	margin-top: -22%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	font-size: 18px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	nav span{
	color: white;
	font-size: 21px;
	border: 3px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

	nav span:hover{
	color: white;
	border: 3px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	.all_cards img{
	width: 70px;
	height: auto;
}
	nav h2{
	font-size: 45px;
	color: white;
	text-shadow: -3px 0 purple, 0 3px purple, 4.2px 0 red, 0 -4.2px red;
}
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 2.3px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 19px;
	color: white;
	text-shadow: -1.52px 0 blue, 0 1.52px blue, 1.52px 0 blue, 0 -1.52px blue;
	margin-top: 4px;
	padding-left: 2px;
	padding-right: 2px;
	display: inline-block;
	border: 2px solid blue;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2px solid #00f500;
	color: white;
}
}

@media(max-width:800px){
	body{
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
	.all_cards img{
	width: 90px;
	height: auto;
}
	section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -2.5px 0 purple, 0 2.5px purple, 2.5px 0 purple, 0 -2.5px purple;
	text-align: right;
	margin-top: -11.75%;
	margin-right: 40px;
}
	section h2{
	color: white;
	font-size: 9vw;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	text-align: left;
	margin-top: -13%;
	margin-left: 40px;
}
	.biography h2{
	color: white;
	font-size: 55px;
	text-shadow: -3.2px 0 blue, 0 3.2px blue, 3.2px 0 blue, 0 -3.2px blue;
	text-align: left;
	margin-top: -12%;
}
}
@media(max-width:730px){
	.biography h2{
	color: white;
	font-size: 55px;
	text-shadow: -3.2px 0 blue, 0 3.2px blue, 3.2px 0 blue, 0 -3.2px blue;
	text-align: left;
	margin-top: -10%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 15px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	nav span{
	color: white;
	font-size: 17px;
	border: 2.3px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

	nav span:hover{
	color: white;
	border: 2.3px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	.all_cards img{
	width: 70px;
	height: auto;
}
	section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -2.5px 0 purple, 0 2.5px purple, 2.5px 0 purple, 0 -2.5px purple;
	text-align: right;
	margin-top: -13%;
	margin-right: 40px;
}
	section h2{
	color: white;
	font-size: 9vw;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	text-align: left;
	margin-top: -13%;
	margin-left: 40px;
}

	section p{
	background-color: rgb(0,0,0);
	padding-top: 25px;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	font-size: 18px;
	color: white;
}
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 1px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 16px;
	color: white;
	text-shadow: -1.52px 0 blue, 0 1.52px blue, 1.52px 0 blue, 0 -1.52px blue;
	border: 2px solid blue;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2px solid #00f500;
	color: white;
}
	body{
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
}

@media(max-width:600px){
	header{
	width: 100%;
	height: auto;
	background-color: black !important;
	border: 1px outset white;
}

	header nav{
	background-color: black !important;
}

	header nav ul{
	text-align: center;
	padding-top: .2px;
	padding-bottom: .2px;
	list-style-type: none;
}

	header nav ul a{
	text-decoration: none;
}

	header nav ul a li{
	background-color: rgba(0,0,0,0.7);
	font-size: 16px;
	color: white;
	text-shadow: -1.52px 0 blue, 0 1.52px blue, 1.52px 0 blue, 0 -1.52px blue;
	border: 2px solid blue;
	display: block;
}

	header nav ul a li:hover{         
	text-shadow: -2px 0 #00f500, 0 2px #00f500, 2px 0 #00f500, 0 -2px #00f500;
	border: 2px solid #00f500;
	color: white;
}
}

@media(max-width:530px){
	.biography h2{
	color: white;
	font-size: 45px;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	text-align: left;
	margin-top: -19%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 13px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	nav span{
	color: white;
	font-size: 13px;
	border: 2px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

	nav span:hover{
	color: white;
	border: 2px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
	text-align: right;
	margin-top: -17%;
	margin-right: 40px;
}

	section p{
	background-color: rgb(0,0,0);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 13px;
	color: white;
}
}

@media(max-width:450px){
	.biography h2{
	color: white;
	font-size: 35px;
	text-shadow: -2px 0 blue, 0 2px blue, 2px 0 blue, 0 -2px blue;
	text-align: left;
	margin-top: -14%;
}
	.biography p{
	background-color: rgb(0,0,0);
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-size: 12px;
	text-shadow: -1.23px 0 black, 0 1.23px black, 1.23px 0 black, 0 -1.23px black;
	color: white;
}
	nav span{
	color: white;
	font-size: 11.5px;
	border: 1.5px solid blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

	nav span:hover{
	color: white;
	border: 1.5px solid #237541;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
	section h3{
	color: white;
	font-size: 9vw;
	text-shadow: -1.2px 0 purple, 0 1.2px purple, 1.2px 0 purple, 0 -1.2px purple;
	text-align: right;
	margin-top: -12%;
	margin-right: 40px;
}

	section p{
	background-color: rgb(0,0,0);
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	font-size: 11.5px;
	color: white;
}
}